.light {
  --color-scheme: light dark; 
  --Primary-Background-Violet: hsl(300, 14%, 89%);
  --Primary-Button: hsl(0, 0%, 100%);
  --Secondary-Background-Persian-Indigo: hsl(269, 39%, 49%);
  --Secondary-Background-Violet: hsl(263, 65%, 75%);
  --Active-Icon: hsl(262, 81%, 10%);
  --Icon-Chetwode-Blue:hsl(237, 40%, 60%);
  --Letter-Che-Per: hsl(289, 75%, 19%);
  --Color-Header-Title: hsl(0, 20%, 100%);
  --Background-Night-Black: hsla(251, 58%, 57%, 0.644);
  --Background-Welcome-Section: hsl(0, 20%, 99%);
  --Background-Night-Black-Opacity: hsla(251, 58%, 57%, 0.842);
  --Button-Anakiwa: hsl(195, 59%, 51%);
  --Active-Letter-Gray: hsl(0, 0%, 9%);
  --Letter-Light: hsl(0, 0%, 0%);

  --Description-Font-Weight:300;
  --Nav-Font-Weight: 500;

  --Box-Shadow-Dark: hsl(285, 51%, 83%) 0px 50px 100px -20px, hsla(0, 0%, 0%, 0.3) 0px 30px 60px -30px, hsl(285, 51%, 83%) 0px -1px 20px 0px inset;
  --Box-Shadow-Light-Btn: hsla(286, 30%, 48%, 0.774) 0px 50px 200px -30px, hsla(0, 0%, 0%, 0.3) 0px 30px 60px -30px, hsla(286, 30%, 48%, 0.774) 0px -2px 6px 0px inset;
  --Box-Shadow-Color-Btn: hsla(195, 100%, 75%, 0.171) 0px 50px 200px -30px, hsla(195, 100%, 75%, 0.171) 0px 30px 60px -30px, hsla(196, 38%, 6%, 0.171) 0px -2px 6px 0px inset;
}