:root {
  --Primary-Link-Active: hsl(240, 54%, 37%);
  --Secondary-Link-Active: hsla(240, 39%, 42%, 0.842);
  --Primary-Background: hsla(265, 51%, 80%, 0.082);
  --Primary-Button: hsl(266, 47%, 27%);
  --Secondary-Button: hsla(267, 47%, 27%, 0.397);
  --Secondary-Background: hsla(0, 0%, 100%, 0.945);
  --Background-Chetwode-Blue:hsl(237, 33%, 53%);
}

*, *::before, ::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--Background-Chetwode-Blue);
  font-family: Arial, Helvetica, sans-serif;
  font-size: .67em;
}

a {
  color: var(--Primary-Link-Active);
  transition: all 0.3s ease ;
}

.main-title {
  color: var(--Primary-Button);
  font-size: 3.5em;
  font-weight: 700;
}

.line-breaks {
  margin: .5em;
}

aside,
footer,
#projects {
  padding-left: .5em;
}

.display-title::before {
  content: attr(title);
}

.display-title {
  text-decoration: none;
}

.display-link::before {
  content: attr(href);
}

.contact-icons .display-title::before {
  content: attr(href);
}

aside,
footer,
#header-print {
  background-color: var(--Primary-Background);
}

#header-print {
  padding-top: 5em;
}

#header-print .subtitle {
  padding: .5em 0;
}

.under-title-contact-info li,
.contact-icons li {
  padding-bottom: 1em;
}

.under-title-contact-info .flex-display,
.contact-icons .flex-display {
  display: flex;
}

.under-title-contact-info .icon,
.contact-icons .icon {
  font-size: 1.5em;
  margin-right: .5em;
}

.under-title-contact-info,
.contact-icons,
.skills {
  list-style: none;
}

.under-title-contact-info,
.contact-icons,
.skills {
  padding: 0;
}

.under-title-contact-info .icon:first-of-type {
  margin-right: .8em;
}

.two-cols,

footer {
  padding: 1.5em;
}

.about-me,
#projects,
.blog,
footer {
  padding: 1em 0 0 1em;
}


.projects li {
  padding-bottom: .5em;
}

.education,
.projects {
  padding: .5em 1.5em 0 1.5em;
}


@media (any-hover: hover) {
  a:hover { 
    color: var(--Secondary-Link-Active);
  }

  .btn-not-print button:hover {
    opacity: .70;
  }
}