:root {
  --primary-link-active: hsl(240, 54%, 37%);
  --secondary-link-active: hsla(240, 39%, 42%, 0.842);
  --primary-background: hsla(265, 51%, 80%, 0.082);
  --primary-button: hsl(266, 47%, 27%);
  --secondary-button: hsla(267, 47%, 27%, 0.397);
  --secondary-background: hsla(0, 0%, 100%, 0.945);
  --background-chetwode-blue:hsl(237, 33%, 53%);
}

*, *::before, ::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2rem;
}

a {
  color: var(--primary-link-active);
  transition: all 0.3s ease ;
}

.main-title {
  color: var(--primary-button);
  font-size: 3.5em;
  font-weight: 700;
  padding-bottom: 1rem;
}

.line-breaks {
  margin: .5rem;
}

aside,
footer,
#projects {
  padding-left: .5rem;
}

aside,
footer,
#side-print {
  background-color: var(--primary-background);
}

.display-title {
  text-decoration: none;
}

.contact-icons .display-title::before {
  content: attr(title);
  margin-right: 1rem;
}

.contact-icons {
  display: flex;
  flex-wrap: wrap;
}

.contact-info {
  align-items: center;
  display: flex;
}

.under-title-contact-info li,
.contact-icons li {
  list-style: none;
  padding-top: .5rem;
}

.under-title-contact-info .flex-display,
.contact-icons .flex-display {
  display: flex;
}

.under-title-contact-info .icon,
.icon {
  font-size: 1.2rem;
  margin-right: .5rem;
}

.under-title-contact-info,
.contact-icons,
#skill-list {
  list-style: none;
  padding-left: 0;
}

.under-title-contact-info,
.contact-icons,
.skills {
  padding: 0;
}

.under-title-contact-info .icon:first-of-type {
  margin-right: .8rem;
}

.education,
.projects {
  padding: .5rem 1.5rem 0 1.5rem;
}

.bold {
  font-weight: 700;
}

.edu-lists {
  display: flex;
  justify-content: space-between;
}
.edu-lists ul {
  list-style: none;
  padding: 0;
}

.education .description {
  padding: 0;
}

.education .edu-location {
  text-align: end;
}

.two-cols,
footer {
  padding: 1.5rem;
}

#side-print {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo-contact-icon {
  background-color: var(--background-chetwode-blue);
  border-radius: 50%;
  height: 150px;
  margin: 1rem 0;
  width: 150px;
}

#side-print .subtitle,
#side-print .description {
  text-align: left;
  width: 90%;
}

.subtitle {
  padding: 1rem 0 .5rem 0;
}

.about-me,
#projects,
.blog,
footer {
  padding: 1rem 0 0 1rem;
}

.display-link::before {
  content: attr(href);
  margin-left: .3rem;
}


.projects li {
  padding-bottom: .5rem;
}

@media (any-hover: hover) {
  a:hover { 
    color: var(--secondary-link-active);
  }

  .btn-not-print button:hover {
    opacity: .70;
  }
}