@import url('print-style-view.css');

.web-view {
  display: none;
}

.print-view {
  display: block;
  text-decoration: none;
}

.only-print {
  display: none;
}

.wrapper {
  background-color: var(--secondary-background);
  border-radius: 0 0 1rem 1rem;
  display: grid;
  gap: .5em;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  max-width: 1000px;
  padding: .5em;
}

.wrapper #side-print {
  grid-column: 1;
}

.wrapper aside {
  grid-column: 2 / -1;
}

.wrapper main {
  grid-column: 2 / -1;
}


.wrapper footer {
  grid-column: 2 / -1;
} 

article .flex-display {
  display: flex;
  flex-direction: row;
}

footer .flex-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}

@media (max-width: 450px) {

  footer .flex-display {
    display: flex;
    flex-direction: column;
    font-weight:normal;
  }
} 

@media only print {

  body {
    -webkit-print-color-adjust: exact !important;
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
  }

  .wrapper {
    border-radius: 0;
    margin: 0;
    padding: 0;
  }

  header .btn-not-print {
    display: none;
  }

  .btn-not-print{
    display: none;
  }

  .only-print {
    display: block;
  }

  .not-print {
    display: none;
  }

  .footer-msg {
    font-family: 'Inconsolata', monospace;
    padding: .3em 0;
  }
  
  .footer-msg .description {
    letter-spacing: .2em;
  }

}