@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?oyofqs');
  src:  url('fonts/icomoon.eot?oyofqs#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oyofqs') format('truetype'),
    url('fonts/icomoon.woff?oyofqs') format('woff'),
    url('fonts/icomoon.svg?oyofqs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e915";
}
.icon-envelope:before {
  content: "\e914";
}
.icon-laptop:before {
  content: "\e913";
}
.icon-bars:before {
  content: "\e908";
}
.icon-navicon:before {
  content: "\e908";
}
.icon-reorder:before {
  content: "\e908";
}
.icon-education:before {
  content: "\e909";
}
.icon-tools:before {
  content: "\e907";
}
.icon-devices:before {
  content: "\e906";
}
.icon-css3:before {
  content: "\e90a";
  color: #1572b6;
}
.icon-html5:before {
  content: "\e90b";
  color: #e34f26;
}
.icon-javascript:before {
  content: "\e90c";
  color: #f7df1e;
}
.icon-node-dot-js:before {
  content: "\e90d";
  color: #393;
}
.icon-postman:before {
  content: "\e90e";
  color: #ff6c37;
}
.icon-bootstrap:before {
  content: "\e90f";
  color: #563d7c;
}
.icon-npm:before {
  content: "\e910";
  color: #cb3837;
}
.icon-mongodb:before {
  content: "\e911";
  color: #47a248;
}
.icon-django:before {
  content: "\e912";
}
.icon-sass:before {
  content: "\e905";
  color: #c69;
}
.icon-docker:before {
  content: "\e903";
  color: #1488c6;
}
.icon-adobexd:before {
  content: "\e904";
  color: #ff2bc2;
}
.icon-webpack:before {
  content: "\e902";
  color: #8dd6f9;
}
.icon-storybook:before {
  content: "\e901";
  color: #ff4785;
}
.icon-php:before {
  content: "\e900";
  color: #777bb4;
}
.icon-location2:before {
  content: "\e948";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-download:before {
  content: "\e960";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-linkedin:before {
  content: "\eac9";
}
